/* Overall style */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* SVG */
.canvas {
  background-color: white;
}
