/* Overral style */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Arial', sans-serif; /* Use a clean, readable font */
    background-color: #f8f9fa; /* Light background for the container */
    overflow: hidden;
}
.container-fluid {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* SVG canvas */
.canvas {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow to the chart */
}

/* Axis */
.s-axis-left text{
    transform: rotate(-90deg);
    text-anchor: middle;
}

.s-axis-bottom text {
    text-anchor: middle;
}

/* Legend */
.legend-title {
    font-weight: bold;
}

.legend-group {
    cursor: pointer;
    opacity: 1;
    transition: 0.3s all linear;
}

.legend-group-active{
    opacity: 0.5;
    font-size: 14px;
}

/* Data */

.data {
    transition: 0.3s all ease-in-out;
    opacity: 0.7;
}

.Iris-virginica-active {
    opacity: 1;
    /* fill: #C24D51; */
    /* stroke: #C24D51; */
}
.Iris-setosa-active {
    opacity: 1;
    /* fill: #4C72B0; */
    /* stroke: #4C72B0; */
}
.Iris-versicolor-active {
    opacity: 1;
    /* fill: #4F9C61; */
    /* stroke: #4F9C61; */
}